<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: html_head}"></head>
<body>
<div class="container">
    <div th:replace="~{fragments :: menu}"></div>
    <h1 th:text="#{lang.stores}"></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" th:text="#{lang.name}"></th>
            <th scope="col" th:text="#{lang.lib_viewable_online}"></th>
            <th scope="col" th:text="#{lang.link_to_lib}"></th>
            <!--        <th scope="col">Games</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="store: ${stores}">
            <td>
                <a th:text="${store.name}" th:href="@{/stores/{id}(id=${store.id})}" class="btn btn-primary"></a>
            </td>
            <td th:text="${store.isLibraryOnline}"></td>
            <td th:text="${store.linkToLibrary}"></td>
            <!--        <td th:text="${game.stores}"></td>-->
        </tr>
        </tbody>
    </table>
    <div th:replace="~{fragments :: footer}"></div>
</div>
</body>
</html>