<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: html_head"></head>
<body>
<div class="container">
<div th:replace="fragments :: menu"></div>
<form th:action="register" th:method="post" th:object="${addGameForm}">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" th:field="*{title}" class="form-control" id="title">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" th:field="*{price}" class="form-control" id="price">
    </div>
    <div class="mb-3">
        <label for="releaseDate" class="form-label">Release Date</label>
        <input type="date" th:field="*{releaseDate}" class="form-control" id="releaseDate">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" th:field="*{owned}" class="form-check-input" id="owned">
        <label class="form-check-label" for="owned">Owned</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
<div>
    <p th:text="${message}">message</p>
</div>
</div>
</body>
</html>