<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: html_head"></head>
<body>
<div class="container">
    <div th:replace="fragments :: menu"></div>
    <form th:action="register" th:method="post" th:object="${addStoreForm}">
        <div class="mb-3">
            <label for="title" class="form-label">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="title" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" th:field="*{isLibraryOnline}" class="form-check-input" id="online">
            <label class="form-check-label" for="online">Library viewable online</label>
        </div>
        <div class="mb-3">
            <label for="link" class="form-label">Link to Library</label>
            <input type="text" th:field="*{linkToLibrary}" class="form-control" id="link">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
    <div>
        <p th:text="${message}">message</p>
    </div>
</div>
</body>
</html>