<!DOCTYPE html>
<html lang="en">
<head>
  <thymeleaf th:fragment="html_head" th:remove="tag">
    <meta charset="UTF-8">
    <title>[[#{lang.page.home}]] - [[#{lang.app_name}]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link th:href="@{/static/css/main.css}" rel="stylesheet" /> -->
    <!-- <link href="/static/css/main.css" rel="stylesheet" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#locales").change(function () {
          const selectedOption = $('#locales').val();
          if (selectedOption !== ''){
            window.location.replace('?lang=' + selectedOption);
          }
        });
      });
    </script>
    <script th:if="${@environment.acceptsProfiles('dev')}" src="http://localhost:35729/livereload.js"></script>
  </thymeleaf>
</head>
<body>

<div th:fragment="menu">
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" th:text="#{lang.app_name}"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/games" th:text="#{lang.games}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stores" th:text="#{lang.stores}"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{lang.add}"></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/games/add" th:text="#{lang.game}"></a></li>
              <li><a class="dropdown-item" href="/stores/add" th:text="#{lang.store}"></a></li>
            </ul>
          </li>
        </ul>
        <div class="lang-select">
        <select class="form-select form-select-sm" aria-label="Language" id="locales">
          <option selected th:text="#{lang.select}"></option>
          <option value="en" th:text="#{lang.eng}"></option>
          <option value="cz" th:text="#{lang.cze}"></option>
        </select>
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- TODO add footer -->
<div th:fragment="footer">
  <footer>
    <p th:text="#{footer.rights}"></p>
  </footer>
</div>

</body>
</html>