<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: html_head}"></head>
<body>
<div class="container">
    <div th:replace="~{fragments :: menu}"></div>
    <form th:action="register" th:method="post" th:object="${addGameForm}">
        <div class="mb-3">
            <label for="title" class="form-label" th:text="#{lang.title}"></label>
            <input type="text" th:field="*{title}" class="form-control" id="title" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label" th:text="#{lang.price}"></label>
            <input type="text" th:field="*{price}" class="form-control" id="price">
        </div>
        <div class="mb-3">
            <label for="releaseDate" class="form-label" th:text="#{lang.release_date}"></label>
            <input type="date" th:field="*{releaseDate}" class="form-control" id="releaseDate">
        </div>
<!--        <div class="mb-3">-->
<!--            <label for="storeSelect" class="form-label" th:text="#{lang.store}"></label>-->
<!--            <ul id="storeSelect">-->
<!--                <li th:each="store : ${storesAll}" th:field="*{stores}">-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox"-->
<!--                               th:value="${store}"-->
<!--                               th:field="*{stores}"-->
<!--                               th:checked="${store.id} == 1 ? 'checked' : ''">-->
<!--                        <label class="form-check-label" th:for="${#ids.prev('storesSelected')}" th:text="${store.name}"></label>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <label for="storeSelect" class="form-label" th:text="#{lang.store}"></label>-->
<!--            <ul id="storeSelect">-->
<!--                <li th:each="store, itemStat : *{stores}">-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox"-->
<!--                               th:value="${storesAll[__${itemStat.index}__]}"-->
<!--                               th:field="*{stores[__${itemStat.index}__]}"-->
<!--                               th:checked="itemStat.index == 0 ? 'checked' : ''">-->
<!--                        <label class="form-check-label" th:for="*{stores[__${itemStat.index}__]}" th:text="${storesAll[__${itemStat.index}__].name}"></label>-->
<!--                    </div>-->
<!--&lt;!&ndash;                    th:value="${storesAll[__${itemStat.index}__]}"&ndash;&gt;-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

        <div class="mb-3 form-check">
            <input type="checkbox" th:field="*{owned}" class="form-check-input" id="owned">
            <label class="form-check-label" for="owned" th:text="#{lang.owned}"></label>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{lang.submit}"></button>
    </form>
    <br/>
    <div>
        <p th:text="${message}"></p>
        <!--        <p th:text="${allStores}"></p>-->
        <!--        <p th:text="#{${message}}"></p>-->
    </div>
    <div th:replace="~{fragments :: footer}"></div>
</div>
</body>
</html>